body {
/*   background-color: #333333; */
  font-family: Impact;
  text-align: center;
  background-image: url('Images/vectors.jpg');
/*   animation-name: rainbow;  
  animation-iteration-count: infinite;  
  animation-duration: 20s;  */
}
#Login {
  font-size: 300%;
  margin: 10px;
}
#SignUp {
  margin: 10px;
  font-size: 300%;
}
#Shortcut {
  margin: 10px;
  font-size: 300%;
}

@keyframes rainbow {  
  0% { background-color: red; }
  12% { background-color: orange; }
  25% { background-color: yellow; }
  37% { background-color: lime; }
  50% { background-color: cyan; }
  62% { background-color: blue; }
  75% { background-color: purple; }
  87% { background-color: fuchsia; }
  100% { background-color: red; }
}