body {
  background-color: #666666;
  font-family: Calibri;
  text-align: center;
  /*   background-image: url('Images/vectors.jpg'); */
  box-sizing: border-box;
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  color: white;
}

section {
  justify-content: center;
  /*   text-align: center; */
  align-items: center;
  /*   align-self: center;
  align-content: center;
  justify-self: center;
  justify-items: center; */
  display: flex;
}

#Login {
  display: block;
  font-size: 300%;
  margin: 10px;
}

#SignUp {
  margin: 10px;
  font-size: 300%;
  display: block;
}

#Shortcut {
  margin: 10px;
  font-size: 300%;
  display: block;
}