body {
  background-color: #666666;
/*   font-family: Impact; */
  text-align: center;
  color: #FFFFFF;
/*   background-image: url('../../Images/vectors.jpg'); */
}
#BackButton {
  padding: 1% 5%;
  align-content: left;
  display: flex;
  font-family: Impact;
  color: #FFFFFF;
  font-size: 100%;
}
#UsernameLabel {
  padding-right: 5%;
  font-family: Calibri;
/*   color: black; */
}
#PasswordLabel {
  padding-right: 5%;
  font-family: Calibri;
/*   color: black; */
}
#UsernameSection {
  padding: 5px;
  border-radius: 10px;
  margin: 1%;
}
#PasswordSection {
  padding: 5px;
  border-radius: 10px;
  margin: 1%;
}
#SubmitButton {
  padding: 1% 5%;
/*   background-color: rgba(0, 0, 0, 0.5); */
/*   border: 2px solid #FFFFFF; */
/*   position: absolute;
  left: 4%;
  top: 4%; */
  margin-top: 5%;
/*   font-family: Impact; */
  color: #FFFFFF;
  font-size: 100%;
}
#Notification {
  color: red;
  font-family: Helvetica;
}
h1 {
  font-family: Impact;
}