#DrawPage {
    width: 100%;
    height: 100%;
    border-radius: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    overscroll-behavior: contain;
    box-sizing: border-box;
    overflow: hidden;
}
#DrawPageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#DrawPageBody {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#title {
    flex: 1;
    text-align: left;
}
#timer {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 1em;
    transform: translate(-50%, -40%);
}
@media (max-width: 550px) {
    /* max-device-width */
    #title {
        display: none;
    }
    #timer {
        position: static;
        transform: translate(0%, 0%);
        text-align: left;
        flex: 1;
    }
    #DefinitionPopover {
        right: auto;
        left: 0%;
    }
}
#CanvasSpinner {
    position: absolute;
    left: 50%;
    top: 50%;
}