html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  touch-action: none;
  overscroll-behavior-y: contain;
}

.fullscreen {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.countdown-number {
  font-size: 2rem;
  transition: font-size 0.5s;
}

.countdown-number.animate {
  font-size: 3rem;
}
.modal {
  z-index: 10500;
}