body {
  background-color: #333333;
  font-family: Impact;
  text-align: center;
  color: white;
}
#BackButton {
  padding: 1% 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #FFFFFF;
  align-content: left;
  display: flex;
  font-family: Impact;
  color: #FFFFFF;
  font-size: 100%;
}
#ClearCanvasButton {
  margin: 5px;
}